@model WorkplaceOfSecretary.Models.Committee

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>
<p class="text-danger">@ViewData["ErrorMessage"]</p>
<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Committee</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Seb)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Seb.NameOfSEB)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Chairperson)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Chairperson.LastName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Secretary)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Secretary.LastName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberOne)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberOne.LastName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberTwo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberTwo.LastName)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MemberThree)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MemberThree.LastName)
        </dd class>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ID" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
