@model IEnumerable<WorkplaceOfSecretary.Models.Committee>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Seb)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chairperson)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Secretary)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberOne)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberTwo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MemberThree)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Seb.NameOfSEB)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Chairperson.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Secretary.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberOne.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberTwo.LastName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MemberThree.LastName)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.ID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.ID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
